@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    font-size: 14px;
}


.uil-heart {
    cursor: pointer;
}

.fa-heart {
    color: #ab1717;
    /*display: none;*/

}


  .caption_post {

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;

            -webkit-box-orient: vertical;
        }

        .caption_post.expanded {
            -webkit-line-clamp: unset;
            display: block;
        }

:root {
    --dark-color-lightness :17%;
    --light-color-lightness:95%;
    --white-color-lightness:100%;


    --primary-color-hue: 252;
    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    -color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    -color-black: hsl(252, 30%, 10%);


    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6re 1rem;
    --card-padding: 1rem;

    --stick-top-left: 5.4rem;
    --stick-top-right: -18rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;

}

body {
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: var(--color-dark);
    background-color: var(--color-light);
    overflow: hidden;

}

.container {
    width: 80%;
    margin: 0 auto;
}

.profile-photo {
    width: 2.7rem;
    /*aspect-ratio: 1/1;*/
    border-radius: 50%;
    overflow: hidden;

}

img {
    display: block;
    width: 100%;

}

.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radious);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;

}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--color-primary);
    color: white;
    border-radius: 10px;

}

.text-bold {
    font-weight: 500;
}

.text-muted {
    color: var(--color-gray);

}




/* --------------navbar--------------------*/


nav {
    width: 100%;
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
    padding: 5px;

}

.search-bar i{
    margin-left :15px;
}
.search-bar input[type="search"] {
    background: none;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9;
    color: var(--color-dark);
}

nav .search-bar input[type="search"]::placeholder {
    color: var(--color-gray);
}

nav .create {
    display: flex;
    align-items: center;
    gap: 2rem;

}




/* --------------main--------------------*/

main {
    position: relative;
    top: 5.4rem;

}

main .container {
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    column-gap: 2rem;
    position: relative;
}

/* --------------left--------------------*/

main .container .left {
    height: max-content;
    position: sticky;
    background: var(--color-white);
    top: var(--stick-top-left);
    border-radius: 8px;
}



main .container .left .profile {
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);

    align-items: center;
    display: flex;
    width: 100%;
    column-gap: 1rem;
    ;

}

/* --------------Sildebar--------------------*/
.left sidebar {
    /*margin-top: rem;*/
    background: var(--color-white);
    border-radius: var(--card-border-radius);

}

.left .sidebar .menu-item {
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}

.left .sidebar .menu-item:hover {
    background: var(--color-light);
}

.left .sidebar i {
    font-size: 1.4rem;
    color: var(--color-gray);
    margin-left: 2rem;
    position: relative;
}

.left .sidebar i .notification-count {
    background: var(--color-danger);
    color: white;
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 0.8rem;
    padding: 0.1rem 0.3rem;
    position: absolute;
    top: -0.5rem;
    right: -0.8rem;
}


.left .sidebar h3 {
    margin-left: 1.5rem;
    font-size: 1rem;

}




.left .sidebar .active i,
.left .sidebar .active h3 {
    color: var(--color-primary);

}

.left .sidebar .active::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--color-primary);

}

.left .sidebar .active {

    background: var(--color-light);
}

.left .sidebar .menu-item:first-child.active {
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .sidebar .menu-item:last-child.active {
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .btn {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;

}

/*-------------------notifiation popop-----*/

.left .notification-popup {
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);

    z-index: 8;
    box-shadow: 0 0 1.5rem var(--color-primary);


    display: none;
}



.left .notification-popup::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: var(--color-white);
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);



}

.left .notification-popup>div {
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;

}

.left .notification-popup small {
    display: block;

}


/* -------middle------------*/

.middle .stories {
    display: flex;
    justify-content: space-between;
    height: 12rem;
    gap: 0.5rem;

}


.middle .stories .story {
    padding: var(--card-padding);
    border-radius: 7%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 0.75rem;
    width: 100%;
    background: goldenrod;
    position: relative;
    overflow: hidden;
}

.middle .stories .story::before {
    content: "";
    display: block;
    width: 100%;
    height: 5rem;
    background: linear-gradient(transarent, rgba(0, 0, 0, 0, 0.75));
    position: absolute;
    bottom: 0;

}

.middle .stories .story .name {
    z-index: 0;
    font-weight: bold;

}




.middle .stories .story:nth-child(1) {
    background: url('../image/diem.jpg') no-repeat center center/cover;

}

.middle .stories .story:nth-child(2) {
    background: url('../image/akaza1.jpg') no-repeat center center/cover;

}

.middle .stories .story:nth-child(3) {
    background: url('../image/pexels-vincent-rivaud-2260778.jpg') no-repeat center center/cover;

}

.middle .stories .story:nth-child(4) {
    background: url('../image/pexels-los-muertos-crew-7613555.jpg') no-repeat center center/cover;

}


.middle .create-post {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--color-white);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);
}

.middle .create-post input[type="text"] {
    justify-content: start;

    width: 100%;
    padding: 1rem;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;
}




/* -------feed------------*/

.middle .feeds .feed {
    position: relative;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}



.middle .feed .head {
    display: flex;
    justify-content: space-between;
}

.middle .feed .user {
    display: flex;
    gap: 1rem;

}

.middle .feed .photo {
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: 0.7rem 0;


}

.middle .feed .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}

.middle .liked-by {
    display: flex;

}

.middle .liked-by span {
    width: 1.4rem;
    height: 1.4rem;
    display: block;

    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--color-white);
    margin-left: -0.6rem;

}

.middle .liked-by span:first-child {
    margin: 0;
}

.middle .liked-by p {
    margin-left: 0.3rem;

}



/* -------right------------*/

main .container .right {
    height: max-content;
    position: relative;
    top: var(--stick-top-right);
    bottom: 0;
}

.right .messages {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);

}

.right .messages .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

}

.right .messages i {
    font-size: 1.4rem;
}

.right .messages .search-bar {
    display: flex;

    margin-bottom: 1rem;
    padding: 3px;
}
.right .messages .search-bar input{
    background: none ;

}
.right .messages .search-bar i{
    margin-left: 10px;
}

.right .messages .category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .messages .category h6 {
    width: 100%;
    text-align: center;
    border-bottom: 4px solid var(--color-light);
    padding-bottom: 0.5rem;
    font-size: 0.85;
}

.right .messages .category .active {
    border-color: var(--color-dark);

}

.right .messages .message {
    display: flex;
    gap: 1rem;
    align-items: start;
    margin: 5px;

}

.right .messages .message:last-child {
    margin: 0;

}

.right .messages .message p {
    font-size: 0.8rem;


}

.right .message .profile-photo {
    position: relative;
    overflow: visible;

}

.right .profile-photo img {
    border-radius: 50%;
}


.right .messages .message .profile-photo .active {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 3px solid var(--color-white);
    background-color: red;
    position: absolute;
    bottom: 0;
    right: 0;
}


/* -------request friend------------*/


.right .friend-requests {
    margin-top: 1rem;


}


.right .friend-requests h4 {
    color: var(--color-gray);
    margin: 1rem 0;

}


.right .request {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 0.7rem;
}


.right .request .info {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.right .request .action {
    display: flex;
    gap: 1rem;
}



right .messages .message-requests {
    color: var(--color-primary);
}


/* -------theme------------*/

.customize-theme {
    background: rgh(255, 255, 255, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: grid;
    place-items: center;
    display: none;


}

.customize-theme .card {
    background-color: var(--color-white);
    padding: 3rem;
    border-radius: var(--card-border-radius);
    width: 50%;
    box-shadow: 0 0 1rem var(--color-primary);
    width: 50vw;
}

.customize-theme .font-size>div {

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--color-light);
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);

}

.customize-theme .choose-size {
    background: var(--color-secondary);

    height: 0.3rem;
    width: 100%;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customize-theme .choose-size span {
    width: 1rem;
    height: 1rem;
    background: var(--color-secondary);
    border-radius: 50%;
    cursor: pointer;
}


.customize-theme .choose-size span.active {
    background: var(--color-primary);

}


/* -------font-size------------*/

.customize-theme .choose-color {
    background: var(--color-light);
    padding: var(--color-light);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customize-theme .choose-color span {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;


}


.customize-theme .choose-color span:nth-child(1) {
    background: rgb(72, 72, 237);

}

.customize-theme .choose-color span:nth-child(2) {
    background: rgb(214, 214, 92);
}

.customize-theme .choose-color span:nth-child(3) {
    background: rgb(207, 105, 105);

}

.customize-theme .choose-color span:nth-child(4) {
    background: rgb(58, 172, 58);

}

.customize-theme .choose-color span:nth-child(5) {
    background: rgb(206, 67, 206);

}

.customize-theme .choose-color span.active {
    border: 5px solid white;
}


/* -------background------------*/

.customize-theme .background {
    margin-top: 2rem;
}

.customize-theme .choose-bg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.customize-theme .choose-bg>div {
    padding: var(--card-padding);
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.4rem;
    cursor: pointer;

}

.customize-theme.choose-bg>div.active {
    border: 2px solid var(--color-primary);
}

.customize-theme .choose-bg .bg-1 {
    border : 1px solid rgb(186, 84, 84);

    background: white;
    color: black;

}

.customize-theme .choose-bg .bg-2 {
    background: #333333;
    color: white;

}

.customize-theme .choose-bg .bg-3 {
    background: black;
    color: white;


}

.customize-theme .choose-bg > div span{
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--color-gray) ;
    border-radius: 50%;
    margin-right: 1rem;
}


/* -------media------------*/

@media screen and (max-width : 1200px){
    .container{
        width: 96%;
    }

    main .container{
        grid-template-columns: 5rem auto 30vw;
        gap: 1em;
    }

    .left{
        width: 5rem;
        z-index: 5;


    }

    main .container .left .profile{
        display: none;
    }

    .sidebar h3{
        display: none;
    }

    .left .btn{
        display: none;

    }


}


@media screen and (max-width : 992px){
    nav .search-bar{
        display: none;

    }
    main .container{
        grid-template-columns: 0 auto 5rem;
        gap: 0;
    }

    main .container .left{
        grid-column: 3/4;
        position: fixed;
        bottom: 0;
        right: 0;

    }



    /* -------notification------------*/


    .left .notification-popup{
        box-shadow: 0 0 1rem var(--color-primary);

        position: absolute;
        left: -20rem;
        width: 20rem;
    }

    .left .notification-popup::before{
        /*display: absolute;*/
        top : 1.3rem;
        left: calc(20rem - 0.6rem);
        display: block;
    }


    main .container .middle{
        grid-column: 1/3;
    }

    main .container .right{
        display: none;

    }



}


body {
    overflow: auto;
    overflow: scroll;
}

main .container .right{
    position: static;
  
    height: max-content;
    width: 310px;
    top: var(--stick-top-right);
    bottom: 0;
}









/* -------chat------------*/




.chat {
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    position: relative;
    width: 250px;
    height: fit-content;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: var(--color-white);
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}



.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}




.type_msg {
    /*background-color: rgba(0, 0, 0, 0.3) !important;*/
    border: 0 !important;
    color: white !important;
    height: 41px !important;
    overflow-y: auto;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.attach_btn {
    border-radius: 15px 0 0 15px !important;
    /*background-color: rgba(0, 0, 0, 0.3) !important;*/
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    /*background-color: rgba(0, 0, 0, 0.3) !important;*/
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}
.d-flex{
    display: flex;
    margin-top: 15px;
    font-size: 10px;
}



.user_img {
    height: 60px;
    width: 60px;
    border: 1.5px solid #f5f6fa;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}

.img_cont {
    position: relative;
    height: 50px;
    width: 50px;
}

.img_cont img{
    height: 25px;
    width: 25px;
}

.img_cont_msg {
    height: 35px;
    width: 35px;
}

.img_cont_msg img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 13px;
    right: 13px;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.user_info span {
    font-size: 20px;
    color: white;
}

.user_info p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
}



.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 8px;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(28, 12, 12, 0.5);
    font-size: 8px;
}

.msg_head {
    position: relative;
    width: -webkit-fill-available;
    height: 53px;
}

#action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    top: 69px;
    left: 65px;
    display: none;
}

.action_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu ul li {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.action_menu ul li i {
    padding-right: 10px;
}

.action_menu ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}





/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}





.card-footer {
    position: absolute;
    width: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    /* padding: 15px; */
    border-top: 1px solid #dee2e6;
    bottom: 1px;
}

.card-footer textarea{
    height: 6px;
}


.input-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.type_msg {

    background-color: gray;
    color: white;
    flex: 1;
    border: 1px solid #7598b0;
    border-radius: 5px;
    font-size: 14px;
    resize: none; /* Prevent textarea from being resizable */
}

.attach_btn,
.send_btn {
    cursor: pointer;
    /*background-color: #3498db;*/
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;

}

.attach_btn:hover,
.send_btn:hover {
    background-color: #2980b9;
}




.box_chat{
    position: absolute;
    top :235px;
    right: 339px;
    display: none;
}








::selection{
    color: #fff;
    background: #1a81ff;
}


.radio-group{
    margin-bottom: 30px;
}
.radio-group label{
    padding: 5px;
    border: 1px solid green;
    border-radius: 10px;
    margin-left: 120px;

}
.ck-content .image {
    /* Block images */
    max-width: 80%;
    margin: 20px auto;
}

.ck-editor__editable[role="textbox"] {
    /* Editing area */
    min-height: 200px;
}

.container123{
    width: 753px;
    height: auto;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}
.container123.active{
    height: 590px;
}
.container123 .wrapper123{
    width: 1500px;
    display: flex;
}
.container123 .wrapper123 section{
    width: 750px;
    background: #fff;
}
.container123 img{
    cursor: pointer;
}
.container123 .post{
    transition: margin-left 0.18s ease;


}
.container123.active .post{
    margin-left: -750px;
}
.post header{
    display: block;
    font-size: 22px;
    font-weight: 500;
    padding: 17px 0;
    text-align: center;
    border-bottom: 1px solid #bfbfbf;
}
.post form{
    padding: 15px;
    background: var(--color-white);

}
.post form .content,
.audience .list1 li .column{
    display: flex;
    align-items: center;
}
.post form .content img{
    cursor: default;
    max-width: 52px;
}
.post form .content .details{
    margin: -3px 0 0 12px;
}
form .content .details p{
    font-size: 17px;
    font-weight: 500;
}
.content .details .privacy{
    display: flex;
    height: 25px;
    cursor: pointer;
    padding: 0 10px;
    font-size: 11px;
    margin-top: 3px;
    border-radius: 5px;
    align-items: center;
    max-width: 98px;
    background: #E4E6EB;
    justify-content: space-between;
}
.details .privacy span{
    font-size: 13px;
    margin-top: 1px;
    font-weight: 500;
}
.details .privacy i:last-child{
    font-size: 13px;
    margin-left: 1px;
}
form :where(textarea, button){
    width: 100%;
    outline: none;
    border: none;
}
form textarea{
    resize: none;
    font-size: 18px;
    margin-bottom: 30px;
    min-height: 100px;
}
form textarea::placeholder{
    color: #858585;
}
form textarea:focus::placeholder{
    color: #b3b3b3;
}
form :where .theme-emoji, .options{
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.theme-emoji img:last-child{
    max-width: 24px;
}
form .options{
    height: 57px;
    margin: 15px 0;
    padding: 0 15px;
    border-radius: 7px;
    border: 1px solid #B9B9B9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
form .options :where .list, li,
.audience :where .arrow-back, .icon, li .radio{
    display: flex;
    align-items: center;
    justify-content: center;
}
form .options p{
    color: #595959;
    font-size: 15px;
    font-weight: 500;
    cursor: default;
}
form .options .list{
    display: flex ;
    float: right;
    list-style: none;
}
.options .list li{
    height: 42px;
    width: 42px;
    margin: 0 -1px;
    cursor: pointer;
    border-radius: 50%;
}
.options .list li:hover{
    background: #f0f1f4;
}
.options .list li img{
    width: 23px;
}
form button{
    height: 53px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #BCC0C4;
    cursor: no-drop;
    border-radius: 7px;
    background: #e2e5e9;
    transition: all 0.3s ease;
}
form textarea:valid ~ button{
    color: #fff;
    cursor: pointer;
    background: #4599FF;
}
form textarea:valid ~ button:hover{
    background: #1a81ff;
}
.container123 .audience{
    opacity: 0;
    transition: opacity 0.12s ease;
}
.container123.active .audience{
    background: var(--color-white);
    opacity: 1;
}
.audience header{
    padding: 17px 0;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #bfbfbf;
}
.audience header .arrow-back{
    position: absolute;
    left: 25px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 15px;
    color: #747474;
    border-radius: 50%;
    background: #E4E6EB;
}
.audience header p{
    font-size: 22px;
    font-weight: 600;
}
.audience .content{
    margin: 20px 25px 0;
}
.audience .content p{
    font-size: 17px;
    font-weight: 500;
}
.audience .content span{
    font-size: 14px;
    color: #65676B;
}
.audience .list{
    margin: 15px 16px 20px;
    list-style: none;
}


.audience .list1{
    margin: 15px 16px 20px;
    list-style: none;
}

.audience .list1 li{
    display: flex;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 12px 10px;
    border-radius: 7px;
    align-items: center;
    justify-content: space-between;
}
.list1 li.active,
.audience .list li.active:hover{
    background: #E5F1FF;
}
.audience .list1 li:hover{
    background: #f0f1f4;
}
.audience .list1 li .column .icon{
    height: 50px;
    width: 50px;
    color: #333;
    font-size: 23px;
    border-radius: 50%;
    background: #E4E6EB;
}
.audience .list1 li.active .column .icon{
    background: #cce4ff;
}
.audience .list1 li .column .details{
    margin-left: 15px;
}
.list1 li .column .details p{
    font-weight: 500;
}
.list1 li .column .details span{
    font-size: 14px;
    color: #65676B;
}
.list1 li .radio{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    border: 1px solid #707070;
}
.list1 li.active .radio{
    border: 2px solid #4599FF;
}
.list1 li .radio::before{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: inherit;
}
.list1 li.active .radio::before{
    background: #4599FF;
}






img{
    width: 100%;
}
.wrapper234{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}
.upload{
    background-color: var(--white-color);
    border-radius: 10px;
    border: 2px dashed green;
    margin-top: 15px;
    margin-bottom: 15px;


    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: -webkit-fill-available;
}
.upload-info p{
    opacity: 0.6;
    font-weight: 600;
    margin-top: 10px;
}
.upload-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload-img{
    max-height: 300px;
    overflow-y: scroll;
}
.upload-img::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px var(--black-20-color);
    border-radius: 6px;
}
.upload-img::-webkit-scrollbar-thumb{
    background-color: var(--black-10-color);
    border-radius: 6px;
}
.upload-img::-webkit-scrollbar{
    width: 5px;
}
.upload-area{
    padding: 20px;
    border: 2px dashed var(--black-20-color);
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    transition: var(--transition);
}
.upload-area:hover{
    background-color: rgba(176, 196, 246, 0.1);
}
.upload-area-img img{
    max-width: 80px;
    margin: 0 auto;
}
.upload-area-text{
    font-weight: 700;
    color: var(--black-50-color);
}
.upload-area-text span{
    color: var(--primary-color);
}
.visually-hidden{
    visibility: hidden;
    opacity: 0;
}
.upload-img{
    width: 340px;
}
.uploaded-img{
    padding: 4px 0;
    position: relative;
}


/* remove image button */
.remove-btn{
    width: 22px;
    height: 22px;
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -8px;
    cursor: pointer;
    transition: var(--transition);
}
.remove-btn:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.body{
    position: relative;
}

.postBox{
    position: absolute;
    top :100px;
    left :450px;
    display: none;
    border-radius: 10px;
}







.wrapper_111{
    z-index: 1;
    display: none;
    position: absolute;
    width: 202px;
    border-radius: 10px;
    background: var(--color-white);
    border: 1px dashed var(--color-primary);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    top: 10px;

    right :30px ;
}
.wrapper_111 .menu{
    padding: 10px 12px;
    height: 276px;
}
.content_111 .item{
    list-style: none;
    font-size: 16px;
    height: 50px;
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 0 5px 0 10px;
}
.content_111 .item:hover{
    background: var(--color-light);
}
.content_111 .item span{
    margin-left: 8px;
    font-size: 15px;
}
.content_111 .setting{
    display: flex;
    margin-top: -5px;
    padding: 5px 10px;
    border-top: 1px solid #ccc;
}
.content_111 .share{
    position: relative;
    justify-content: space-between;
}
.share .share-menu{
    position: absolute;
    background: var(--color-white);

    width: 173px;
    right: -200px;
    top: -35px;
    padding: 13px;
    opacity: 0;
    pointer-events: none;
    border-radius: 10px;
    box-shadow: 0 0 1.5rem var(--color-primary);
    transition: 0.2s ease;
}
.share:hover .share-menu{
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
}








